<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
    <link href="https://fonts.googleapis.com/css?family=Black+Ops+One" rel="stylesheet">
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div id="box" style="font-family:Black Ops One;font-size: 30px;margin-bottom:25%;margin-top: 25%">
         <span id="key"><p th:text="'Hello ' + ${justObject.subject} + '!!'" /></span>
    </div>
</body>
</html>